<?xml version = "1.0" encoding = "UTF-8"?>
<suite name="Simple Reporter Suite">
    <listeners>
        <listener class-name="Reporter"/>
    </listeners>

    <test name="Google mailbox Suite">
        <groups>
            <run>
                <include name="open-test"/>
                <include name="send-test"/>
                <exclude name="delete-test"/>
            </run>
        </groups>
        <classes>
            <class name="GoogleMailboxTest"/>
        </classes>
    </test>
</suite>